.SignUp-Login {
    display: flex;
    background-color: rgb(33, 71, 116);
    border-radius: 35px;
    pointer-events: none;

}

.SignUp-Login h4 {
    padding: 18px;
    background-color: rgb(19, 50, 85);
    color: #fff;
    border-radius: 35px;

}
.SignUp-Login .signup{
    pointer-events: auto;

}
.SignUp-Login h4:last-child {
    background-color: transparent;
    pointer-events: auto;

}

.SignUp-Login:hover {
    background-color: rgb(8, 38, 72);    
}